@import './base.css';

#app {
  /* background-image: url("@/assets/background.png"); */
  max-width: 1280px;
  height: 100vh;
  margin: 0 auto;
  padding: 2vh 5vw;
  font-weight: normal;
  scroll-behavior: smooth;
  display: flex;
}